$white: #BBB;
$black: #111;
$grey: #333;
$lightgrey: #222;
$purple: #66D;
$page-margin: 10px;

$green: #6AA84F;
$red: #990000;

@font-face {
    font-family: 'PressStart';
    src: url(./font.ttf) format('truetype');
}

body {
    margin: 20px;
    font-family: PressStart;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body {
    background-color: $black;
    color: $white;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
input[type="checkbox"] {
    accent-color: $green;
}
a {
    color: $purple;
    font-size: 13px;
    line-height: 1.3em;
}

select {
    border: 2px solid $white;
    background-color: $black;
    color: $white;
    font-weight: bold;
    font-family: inherit;
    font-size: 117%;
    width : 150px;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: 2px solid $white;
    padding: 0 10px;
    background-color: $black;
    color: $white;
    font-weight: bold;
    font-family: inherit;
}

.table {
    display: table;
    margin: 20px 0;
    width: 100%;
    a {
        text-decoration: none;
        color: inherit;
        font-size: inherit;
    }
}

.row-header {
    display: table-row;
}

.row {
    display: table-row;

    &:nth-of-type(odd) .cell {
        background-color: $lightgrey;
    }
}

.cell {
    display: table-cell;
    text-align: center;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid $black;
}

.row .cell:hover {
    background-color: #cccccc;
}

.menu {
    display: flex;
    justify-content: space-between;
}

// .multi-select {
//     margin: 5px 0;
//     text-align: right;
// }

// label {
//     font-size: 12px;
//     padding: 3px 15px;
// }

// .filter-option {
//     display: inline;
// }

.links {
    text-align: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
