@import "@thisbeyond/solid-select/style.css";

.solid-select-container {
    background-color: $grey;
}
.solid-select-placeholder {
    color: $lightgrey;
}
.solid-select-multi-value {
    background-color: $white;
    color: $black;
}
.solid-select-input {
    color: $white;
}
.solid-select-option:hover {
    background-color: $white !important;
    color: $black !important;
}
.solid-select-option[data-focused='true'] {
    background-color: $grey;
    color: $white;
}
.solid-select-option > mark {
    color: $pink;
    cursor: pointer;
}
