.table {
    display: table;
    margin: 20px 0;
    width: 100%;
    a {
        text-decoration: none;
        color: inherit;
        font-size: inherit;
    }
}

.row-header {
    display: table-row;
}

.row {
    display: table-row;

    &:nth-of-type(odd) {
        background-color: $lightgrey;
    }
}

.cell {
    display: table-cell;
    text-align: center;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid $black;
}

a.row:hover {
    background-color: $grey;
}
